<div class="d-flex align-items-center justify-content-end topbar m-2" style="border-color: bisque;">
  <!-- logged in person info -->
  <div style="margin-right: 10px">
    <p-dropdown [options]="appList" optionLabel="appName" (onChange)="changeSelected($event)"
      [style]="{ 'border-radius': '25px', 'border-color': 'orange' }"></p-dropdown>
  </div>
  <p-avatar icon="pi pi-power-off" shape="circle" (click)="userInfoOP.toggle($event)"
    [style]="{ 'background-color': '#ffffff', color: '#d65f0e' }"></p-avatar>

  <!-- UserInfo Overlay Panel -->
  <p-overlayPanel #userInfoOP appendTo="body">
    <ng-template pTemplate>
      <div style="width: 200px">
        <!-- Header -->
        <div>{{ managementPositionInUser }}</div>
        <div>{{ loggedInUser }}</div>
        <hr />
        <!-- User Menu Items -->
        <div style="cursor: pointer;" class="d-flex align-items-center clickable-item" (click)="signOut()">
          <i class="pi pi-sign-out mr-1"></i>
          <span>Çıkış Yap</span>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>