<app-navbar (selectedProject)="onSelectedProject($event)"></app-navbar>
<div class="d-flex justify-content-center align-content-center flex-wrap" style="height: calc(100vh - 56px)">
  <div class="col-xl-4">
    <p-card>
      <div class="p-fluid p-grid">
        <div class="row">
          <div class="col-12 p-md-3">
            <h2>Merhaba</h2>
            <p>{{ mailValue }}</p>
          </div>
          <div class="col-md-7">
            <p>Yeni kod/link için yandaki butona basınız</p>
          </div>
          <div class="col-md-5">
            <button pButton type="button" [label]="click" class="p-button mb-1" [disabled]="isButtonDisabled"
              (click)="generateCode()"></button>
          </div>
          <div class="col-md-12">
            <div class="p-field">
              <input id="code" type="text" style="font-size: small;" aria-describedby="aria-describedby" pInputText
                [value]="generateCodeInput" />
            </div>
          </div>
        </div>
      </div>
    </p-card>
  </div>
</div>