<div class="container-fluid">
  <div style="height: 100vh">
    <router-outlet></router-outlet>
  </div>
</div>
<p-blockUI *ngIf="loading$ | async" [blocked]="true">
  <mat-progress-spinner
  [mode]="'indeterminate'"
></mat-progress-spinner>
</p-blockUI>

