<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100%"
>
  <div class="col-xl-4">
    <p-card styleClass="p-card-style">
      <div class="p-fluid p-grid">
        <div class="p-field p-col-12 p-md-3" style="text-align: center">
          <h3 style="color: #848796">Hoşgeldiniz</h3>
          <h5>Oturum açın ve devam edin.</h5>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <span class="p-float-label">
            <input
              type="text"
              id="emailtext" class="mb-1"
              pInputText
              [(ngModel)]="emailValue"
            />
            <label for="emailtext">Mail adresinizi giriniz...</label>
          </span>
        </div>
        <div class="p-field p-col-12 p-md-3">
          <span class="p-float-label">
            <p-password
              [(ngModel)]="passwordValue"
              [toggleMask]="true"
              [feedback]="false"
            ></p-password>
            <label for="password">Şifre</label>
          </span>
          <small *ngIf="!passwordCorrect" id="username2-help" class="p-error"
            >Eposta veya şifre geçersizdir.</small
          >
        </div>
          <div *ngIf="captchaVisibled" class="p-field p-col-12 p-3 md-3">
            <p-captcha [siteKey]="siteKey" (onResponse)="showResponse($event)"></p-captcha>

            <!-- <app-re-captcha *ngIf="!isValid" (successRecaptcha)="loginBtn=!$event"></app-re-captcha> -->

          </div>
          <div class="p-field p-col-12 p-3 md-3">
          <button
            pButton
            pRipple
            type="button"
            label="Login"
            class="p-button"
            (click)="login()" [disabled]="loginButtonDisabled"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
</div>
