$button-color: #e56325;
.p-button {
    color: white;
    background-color: $button-color;
    border-color: $button-color;
}
.p-button:hover {
    color: white;
    background-color: orange;
    border-color:orange;
}

.p-card-style{
    text-align: center;
}